body {
    background-color: rgb(19,20,24);
    color: whitesmoke;
    font-family: 'Exo', sans-serif;
    width: 60em;
    margin: auto;
}

.wrapper{
    display: grid;
    grid-template-columns: min-content 24.5em;
    /* width: calc(620px + 25em); */
    /* width: 100%; */
}

.box {
    border: 1px solid rgb(60, 61, 64);
    padding: 0.5em;
}

.controls {
    font-size: 14px;
}

.navbar::after {
    content: '';
    display: table;
    clear: both;
}

#title {
    float: left;
    padding-left: 10px;
    font-size: 28px;
}

#settings {
    display: inline-block;
    margin-left: 10px;
    margin-right: 20px;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 10px 20px;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
}

nav a:hover {
    color: salmon;
}

button {
    background-color: salmon;
    color: whitesmoke;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: 'Exo', sans-serif;
    font-size: 14px;
    font-weight: 550;
    border-radius: 4px;
    min-width: 150px;
    transition: all 0.2s ease-in-out;
    float: right;
    margin: 10px 5px;
}

button:hover {
    box-shadow: 0 5px 15px rgba(250, 128, 114, .4);
}