body {
    background-color: rgb(19,20,24);
    color: whitesmoke;
    font-family: 'Exo', sans-serif;
    width: 60em;
    margin: auto;
}

.wrapper{
    display: grid;
    grid-template-columns: min-content 24.5em;
    /* width: calc(620px + 25em); */
    /* width: 100%; */
}

.box {
    border: 1px solid rgb(60, 61, 64);
    padding: 0.5em;
    /* margin-bottom: -1px; */
}

.navbar::after {
    content: '';
    display: table;
    clear: both;
}

#title {
    float: left;
    font-size: 28px;
    margin-left: -10px;
}

#settings {
    display: inline-block;
    margin: 15px 2px 5px;
}

nav {
    float: right;
    /* margin-right: -165px; */
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 10px 0px 0px 50px;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
}

nav a:hover {
    color: rgb(96,125,138);
    text-decoration: none;
}

#cluster-control {
    background-color: rgb(96,125,138);
    color: whitesmoke;
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-family: 'Exo', sans-serif;
    font-size: 14px;
    font-weight: 550;
    border-radius: 4px;
    min-width: 175px;
    transition: all 0.2s ease-in-out;
    float: right;
    margin: 5px;
}

#cluster-control:hover {
    box-shadow: 0 5px 15px rgba(96, 125, 138, .6);
}


#data {
    position: absolute;
    top: 90px;
    font-size: 12px;
}

#debug {
    position: relative;
    overflow: hidden;
    left: 60%;
    top: -560px;
    margin-bottom: -69px;
    font-size: 12px;
    max-width: 250px;
}

#angle {
    position: relative;
    overflow: hidden;
    left: 20%;
    top: -140px;
    margin-bottom: -24px;
    font-size: 13px;
    color: rgb(232, 195, 195);
}

#angle-text {
    display: inline-block;
    /* padding-right: 75px; */
    min-width: 205px;
}

p {
    margin: 5px 0px 0px;
}

.highlight {
    color: rgb(153,201,172);
}

.modal-content {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.reset-this {
    all: initial;
}

.redo-fieldset {
    border: 1px solid white;
    color: whitesmoke;
    font-family: 'Exo', sans-serif;
    font-size: 13px;
    padding: 0px 75px 0px 10px;
}

.directPath {
    font-size: 14px;
    position: absolute;
    top: 515px;
}

.originalPath {
    font-size: 14px; 
    position: absolute;
    top: 540px;
}

.lightAngle {
    font-size: 14px;
    position: absolute;
    top: 565px;
}

#feedback {
    position: absolute;
    top: 610px;
    background-color: rgb(255, 193, 8);
    text-align: center;
    text-decoration: none;
    font-family: 'Exo', sans-serif;
    font-size: 14px;
    font-weight: 550;
    transition: all 0.2s ease-in-out;
}

#feedback:hover {
    box-shadow: 0 5px 15px rgba(255, 193, 8, .4);
}